SUPABASE_URL=https://pbpfafixkltjdsbqnetk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBicGZhZml4a2x0amRzYnFuZXRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyNjg3NTksImV4cCI6MjA5Njg0NDc1OX0.9OabT60jjTSGOkD-q1e-blpudCUO2A9CN1IAWeF-oQ4

DB_HOST=db.pbpfafixkltjdsbqnetk.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=Bibliothequ
DB_SSLMODE=require
